.blue {
  color: #0090f7;
}

.bd-blue {
  border: 0.9px solid #0090f799;
}

.bg-blue {
  background-color: #0090f7;
}

.bg-white {
  background-color: #ffffff;
}

.bg-light {
  background-color: #fafbfc;
}

.transparent {
  background-color: transparent;
}

.light {
  color: #a4aab3;
}

.lighter {
  color: #c7c7cd;
}

.white {
  color: #ffffff;
}

.highlighted {
  background-color: #d8e5ee1a;
}
