.blue {
  color: #0090f7;
}

.bg-blue {
  background-color: #0090f7;
}

.bg-white {
  background-color: #ffffff;
}

.bg-light {
  background-color: #fafbfc;
}

.transparent {
  background-color: transparent;
}

.light {
  color: #a4aab3;
}

.lighter {
  color: #c7c7cd;
}

.white {
  color: #ffffff;
}
