@import "../fonts/fonts.css";
@import "utilities.css";
@import "colors.css";

/* Reset defaults */
p,
h1,
h2,
h3,
h4,
h5,
h6,
button,
hr,
input,
select {
  margin: 0;
  border: none;
  outline: none;
  font-weight: normal;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar:vertical {
  width: 4px;
}

::-webkit-scrollbar:horizontal {
  height: 4px;
}

::-webkit-scrollbar-track {
  background-color: #ffffff;
}

::-webkit-scrollbar-thumb {
  background-color: #c5d9e8;
  border-radius: 10px;
}

html {
  font-family: "Circular Std Book";
  font-size: 15px;
}

body {
  background-color: #fbfbfb;
  width: 1440px;
  height: 100vh;
}

.side-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 281px;
  height: 100%;
  background-color: #ffffff;
  padding-top: 23px;
  box-sizing: border-box;
}

.greeting {
  margin: 0 6px 23px 32px;
  color: #363c44;
}

.greeting > .fas {
  margin-left: 7px;
}

.search {
  width: 250px;
  height: 42px;
  border: 1px solid #fafafa;
  padding-left: 14px;
  margin-left: 16px;
  box-sizing: border-box;
}

.search > input {
  border: none;
  height: 100%;
  width: 164px;
  margin-left: 10px;
}

.search > input::placeholder {
  color: #c7c7cd;
}

.search > i {
  left: 14px;
  height: 10px;
  width: 10px;
}

.projects-title {
  width: 132px;
  height: 16px;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 2px;
  color: #4a4a4a;
  text-transform: uppercase;
  margin: 28px 0 17px 16px;
}

.projects-list {
  margin-bottom: 49px;
  margin-left: 9px;
}

.project {
  width: 257px;
  height: 60px;
}

.project.active {
  border-radius: 5px;
  background-color: #fafbfc;
}

.project > img {
  margin-left: 7px;
  margin-right: 9px;
}

nav > button {
  width: 168px;
  height: 42px;
  margin-left: 47px;
}

.nav-divider {
  margin: auto 0 24px 12px;
  width: 259px;
  height: 3px;
  background-color: rgba(0, 0, 0, 0.07);
}

.nav-item {
  height: 58px;
  width: 265px;
  padding-left: 29px;
}

.nav-item > i,
.nav-item > img {
  margin-right: 8px;
}

.nav-item.active {
  border: 1px solid #e7e7e7;
  padding-left: 15px;
}

main {
  min-width: 1096px;
  min-height: 90vh;
  margin-top: 45px;
  margin-left: 308px;
  margin-right: 36px;
  border: 1px solid #eeeeee;
}

.project-header {
  padding-left: 54px;
  padding-right: 42px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.07);
  height: 64px;
}

.project-title {
  color: #363c44;
  font-size: 22px;
}

.project-title > i {
  margin-right: 22px;
}

.cost .current {
  color: rgba(0, 0, 0, 0.51);
}

.project-header .progress-bar {
  width: 173px;
  height: 7px;
  border-radius: 3.5px;
  background-color: #eeeeee;
  margin-top: 5px;
}

.project-header .progress-bar > .current {
  width: 40%;
  height: 100%;
  background-color: #0ac775;
}

.project-body {
  height: 764px;
}

.project-body > .main-area {
  width: 751px;
  height: 100%;
  border-right: 1px solid #eeeeee;
}

.project-summary-area {
  padding-top: 26px;
  height: calc(100% - 330px);
  border-bottom: 1px solid #eeeeee;
  overflow-y: scroll;
  box-sizing: border-box;
}

.project-summary {
  width: 315.2px;
}

.project-summary h3 {
  margin-bottom: 4px;
}

.project-summary h3,
h5 {
  color: #3b4848;
}

.project-summary h5 {
  font-size: 13.5px;
}

.project-summary h4 {
  font-size: 14.4px;
  color: #09abf4;
}

.project-summary p:first-of-type {
  line-height: 1.31;
}

.project-summary p {
  font-size: 11.7px;
  line-height: 1.46;
}

.project-body .categories {
  margin-top: 17.4px;
}

.project-body .requirements {
  height: 330px;
  overflow-y: scroll;
}

.project-body .summary {
  margin-top: 19.1px;
}

.requirements {
  padding-top: 18px;
  padding-left: 15px;
  width: 100%;
}

.requirements-header {
  width: 150px;
  margin-bottom: 26px;
  border-bottom: 1px solid #eaeaea;
}

.requirements-header > .active {
  color: #0090f7;
  border-bottom: 1px solid #0090f7;
}

.requirements .options {
  flex-wrap: wrap;
  margin-bottom: 18px;
}

.requirements .option {
  width: 239px;
  height: 38px;
  border: 1px solid #d8e5ee;
  padding-left: 15px;
  padding-right: 14px;
  box-sizing: border-box;
  margin: 0 5px 5px 0;
}

.requirements .option.selected {
  color: #0090f7;
}

.requirements .option .checkbox {
  width: 18px;
  height: 18px;
  border: 1px solid #eaeaea;
}

.project-body .right-area {
  flex-grow: 1;
  overflow: hidden;
}

.right-area .dropdown-selector {
  position: relative;
  width: 307px;
  height: 36.9px;
  background-color: #fafbfc;
  overflow: hidden;
  padding-left: 16.7px;
  margin-left: 18px;
  box-sizing: border-box;
}

.right-area .dropdown-selector select {
  width: 100%;
  height: 100%;
  font-size: 10px;
  letter-spacing: 1.5px;
  color: #8dabc4;
  background-color: transparent;
}

.right-area .dropdown-selector i {
  position: absolute;
  top: 12px;
  right: 0;
  color: #a8c6df;
  font-size: 13px;
  background-color: #fafbfc;
  padding-right: 17.6px;
}

.calendar-heading {
  width: 152.2px;
  margin-left: 34.7px;
  margin-top: 11.3px;
}

.calendar-heading .date-range {
  font-size: 11.4px;
  padding-left: 8.8px;
  padding-right: 7.9px;
  height: 22px;
  border-radius: 88px;
  color: #0093ee;
}

.calendar-heading .date-range span {
  margin-left: 2.9px;
}

.calendar-heading .month {
  color: #2c405a;
}

.calendar {
  width: 274.4px;
  margin-left: 43px;
  border-spacing: 0 12px;
}

.calendar .days {
  font-size: 11.4px;
  line-height: 1.46;
  color: #8dabc4;
}

.calendar .dates {
  font-size: 14px;
  color: #3f536e;
  flex-wrap: wrap;
}

.calendar .date {
  text-align: center;
}

.calendar .date.start {
  border-radius: 88px 0 0 88px;
}

.calendar .date.end {
  border-radius: 0 88px 88px 0;
}

.calendar .date div {
  width: 15px;
  height: 15px;
  padding: 4px;
  margin: 0 auto;
}

.cost-estimator {
  color: #3f536e;
  margin-left: 21px;
  margin-right: 22px;
  margin-top: 25px;
}

.cost-estimator p:first-of-type {
  margin-bottom: 15px;
}

.cost-estimator .progress-bar {
  width: 100%;
  height: 4px;
  margin-top: 12px;
  background-color: #e4f5ff;
}

.cost-estimator .progress-bar .current {
  position: relative;
  width: 50%;
  height: 100%;
  background-color: #0093ee;
}

.cost-estimator .progress-bar .current::after {
  position: absolute;
  right: -6px;
  top: -4px;
  content: "";
  width: 12px;
  height: 12px;
  background-color: #0093ee;
  border-radius: 50%;
}

.tags {
  width: 268px;
  height: 245px;
  flex-wrap: wrap;
  margin-left: 38px;
  margin-top: 33px;
  color: #0093ee;
}

.tags > .tag {
  position: relative;
  background-color: #e4f5ff;
  border-radius: 88px;
  height: 25px;
  margin-right: 5px;
  margin-bottom: 10px;
  padding-right: 12px;
}

.tags > .tag > span {
  position: absolute;
  right: 12px;
}

.action-buttons {
  margin-top: 42px;
  margin-left: 32px;
  line-height: 1.3;
}

.action-buttons > button {
  width: 135px;
  height: 42px;
  margin-right: 10px;
}

.action-buttons > button:nth-of-type(2) {
  border: 1px solid #d8e5ee;
}
