.bold {
  font-weight: bold;
}

.normal {
  font-weight: normal;
}

.fs-lg {
  font-size: 18px;
}

.fs-nm {
  font-size: 15px;
}

.fs-md {
  font-size: 13px !important;
}

.fs-sm {
  font-size: 11px;
}

.rounded {
  border-radius: 4px;
}

.circle {
  border-radius: 50%;
}

.d-0 {
  display: none !important;
}

.d-f {
  display: flex;
}

.d-fc {
  display: flex;
  flex-direction: column;
}

.d-if {
  display: inline-flex;
}

.align-items-c {
  align-items: center;
}

.align-items-e {
  align-items: flex-end;
}

.justify-content-c {
  justify-content: center;
}

.justify-content-e {
  justify-content: flex-end;
}

.justify-content-b {
  justify-content: space-between;
}

.flex-c {
  flex-direction: column;
}

.ff-roboto {
  font-family: "Roboto";
}

.m-0 {
  margin: 0;
}

.w-100 {
  width: 100%;
}

.underline {
  text-decoration: underline;
  text-decoration-skip-ink: auto;
}
